.CreateListing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.CreateListing .header {
  background-color: #318bc6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 350px;
  position: fixed;
  justify-content: flex-start;
}

.CreateListing .header .back-button {
  background-color: #266d9d;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.CreateListing .header .back-button:hover {
  background-color: #205e87;
}

.CreateListing .header h1 {
  color: #fff;
  margin: 0;
}

.CreateListing .sidebar {
  background-color: #fff;
  width: 350px;
  position: fixed;
  top: 50px;
  bottom: 0;
}

.CreateListing .sidebar h2,
.CreateListing .sidebar h3 {
  margin: 20px 0;
}

.CreateListing .sidebar button,
.CreateListing .sidebar .button-style {
  display: block;
  margin: 10px 0;
  padding: 15px;
  width: 97%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  margin-left: 5px;
}

.CreateListing .sidebar button:hover,
.CreateListing .sidebar .button-style:hover {
  background-color: #e6f7ff;
  border-color: #318bc6;
}

.CreateListing .sidebar .input-box {
  width: 97%;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  margin-left: 5px;
}

.CreateListing .sidebar .input-box:focus {
  outline: none;
  border-color: #318bc6;
  box-shadow: 0 0 0 2px rgba(49, 139, 198, 0.2);
}

.CreateListing .sidebar textarea.input-box {
  height: 100px;
  resize: vertical;
}

.CreateListing #background {
  background-color: #ededed;
  flex-grow: 1;
  padding-left: 375px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.CreateListing #background .preview-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 90%;
  padding: 20px;
}

.CreateListing .details-preview {
  font-size: 16px;
  margin-top: -20px;
}

.CreateListing #background .preview-box .preview-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  height: 95%;
  margin-top: 5px;
  overflow: hidden;
}

.CreateListing #background .preview-box .preview-container .media-preview {
  background-color: #ededed;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.CreateListing #background .preview-box .preview-container .media-preview img,
.CreateListing #background .preview-box .preview-container .media-preview video {
  width: 100%; /* Ensure the image takes up the full width */
  height: auto; /* Allow the height to adjust proportionally */
  object-fit: contain; /* Ensure the entire image is visible */
}


.CreateListing #background .preview-box .preview-container .details-preview {
  flex-shrink: 0;
  flex-basis: 350px;
  padding: 10px;
}

@media (max-width: 1000px) {
  .CreateListing .sidebar {
    width: 100%;
  }
  
  .CreateListing .header {
    width: 100%;
  }
}