/* user.css */

/* Setting box-sizing to border-box for easier layout */

  
  /* Setting font and background color */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  /* Styling the sidebar */
    .sidebar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Adjust width as needed  */
    height: 100%;
    background-color: #e6edf7;
    padding: 20px;
  } 
  
  /* Styling the sidebar buttons */
  .sidebar1-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #318bc6;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  } 
  
  .sidebar1-button:hover {
    background-color: #318bc6;
  }
  
  /* Styling the main content area */
  .main1-content {
    margin-left: 220px; /* Adjust to accommodate sidebar width */
    padding: 20px;
  }
  
  /* Styling the header */
  .App1-header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #318bc6;
    color: #fff; 
    position: relative; 
    top: 0;
    z-index: 3;

   
  }
  
  /* Styling the search bar */
  .search1-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    padding: 10px;
    margin-bottom: 20px;
    
  }
  
  .search1-bar input {
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search1-bar button {
    background-color: #318bc6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search1-bar button:hover {
    background-color: #4a91ee;

  }
  
  /* Styling the Your Listings heading */
  .your-listings-heading {
    background-color: #318bc6;
    color: #318bc6;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Styling the items list */
  
  
  
  